<section id="wrapper" class="login-register login-sidebar" style="background-image:url(../assets/media/fondologin.webp);">
  <div class="login-box card">
<main class="form-signin">
  <img class="mb-4"  id="imagen"  src="./assets/img/logoVotaciones.png" alt="" width="72" height="57">
  <form
       autocomplete="off"
       [formGroup]="registerForm"
       (ngSubmit)="register()"
       id="loginform">
    <h2 class="h3 mb-3 fw-normal title text-center">Registro de nuevo usuario</h2>
    <div class="form-floating boderButton" >
      <input
           class="form-control"
           type="text"
           #input
           placeholder="Nombre completo"
           formControlName="nombre"
           class="form-control" id="floatingInput" placeholder="Nombre completo">
      <label for="floatingInput">Nombres</label>
    </div>
    <div class="form-floating boderButton" >
      <input
           class="form-control"
           type="email"
           #input
           placeholder="Email"
           formControlName="email"
           class="form-control" id="floatingInput" placeholder="Correo Electronico">
      <label for="floatingInput">Email address</label>
    </div>
    <div class="form-floating boderButton">
      <input
      type="password"
      placeholder="Password"
      formControlName="password" class="form-control" id="floatingPassword" placeholder="Contraseña">
      <label for="floatingPassword">Password</label>
    </div>


  <div class="container">
    <div class="row">
      <div class="col">
        <button class="w-100 btn btn-lg btn-primary" type="button" routerLink="../login">Login</button>
      </div>
      <div class="col">
        <button class="w-100 btn btn-lg btn-success" type="submit">Enviar</button>
      </div>
    </div>
  </div>
  <div class="d-grid gap-2">
    <a href={{url}} class="btn btn-primary my-3 text-center"><span class="fa fa-facebook"></span> Facebook</a>
    </div>
  </form>
  <p class="mt-5 mb-3 text-muted text-center">&copy; {{anio}}</p>
</main>
  </div>
</section>
