<div class="container rounded bg-white mt-5 mb-5">
  <div class="row">
  <div class="col-md-3 border-right">
      <div class="d-flex flex-column align-items-center text-center p-3 py-5">
        <img class="rounded-circle mt-5" width="150px" src="{{usuario.img}}">
        <span class="font-weight-bold">{{usuario.nombre}}</span><span class="text-black-50">{{usuario.email}}</span><span> </span></div>
      </div>
      <div class="col border-right">
        <div class="p-3 py-5">
          <div class="d-flex justify-content-between align-items-center mb-3">
          <h4 class="text-right">Profile Settings</h4>
          </div>
        <div class="row mt-2">
        <div class="col-md-6"><label class="labels">Nombres</label><input type="text" class="form-control" placeholder="{{usuario.nombre}}" value=""></div>
      </div>
      <div class="d-flex justify-content-between align-items-center experience p-5">
        <span>Mis Fotografías</span>
        <span class="border px-3 p-1 add-experience"  routerLink="/dashboard/cargarFotos" *ngIf="solo2">
        <i class="fa fa-plus"></i>&nbsp;Cargar Fotografías</span></div><br>
        <p class="textoMensaje"> Solo se permiten dos <em>Fotografias</em> por persona.</p>
        <p class="textoMensaje text-danger" *ngIf="!solo2"> Limite de <em>Fotografia</em> alcanzado.</p>
      <!-- carga del ciclo for imagenes -->
      <div class="container p-3">
        <div class="row">
          <div class="col" *ngFor="let image of Image2 | slice:0:2;">
            <div class="card" style="width: 18rem;">
              <img src="../assets/uploads/post/{{image.filename}}" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">{{image.title}}</h5>
                <p class="card-text">{{image.description}}</p>
                <button class="cursor btn btn-danger m-2"
                                        data-toggle="tooltip"
                                        data-original-title="Borrar"
                                        (click)="borrarFoto(image._id)">
                                         Borrar Imagen
                                    </button>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>

