<nav class="py-2 bg-light border-bottom">
  <div class="container d-flex flex-wrap">
    <ul class="nav me-auto">
      <li class="nav-item"><a href="#" class="nav-link link-dark px-2 active" aria-current="page">Home</a></li>
      <li class="nav-item"><a href="#" class="nav-link link-dark px-2">Features</a></li>
      <li class="nav-item"><a href="#" class="nav-link link-dark px-2">Pricing</a></li>
      <li class="nav-item"><a href="#" class="nav-link link-dark px-2">FAQs</a></li>
      <li class="nav-item"><a href="#" class="nav-link link-dark px-2">About</a></li>
    </ul>
    <ul class="nav oginButton">
      <li class="nav-item"><button type="button" class="btn btn-success btn-sm">Login</button></li>
      <li class="nav-item"><button type="button" class="btn btn-primary btn-sm">Registrar</button></li>
    </ul>
  </div>
</nav>
