
<div>
  <!-- Cabecera -->
  <div class="pe-lg-3 mb-7">
    <h1 class="display-3 text-white mb-3 mb-md-5">
      <span class="text-danger">
        <span class="js-typedjs text-center" data-hs-typed-options="{
                &quot;strings&quot;: [&quot;team.&quot;, &quot;startup.&quot;, &quot;business.&quot;],
                &quot;typeSpeed&quot;: 90,
                &quot;loop&quot;: true,
                &quot;backSpeed&quot;: 30,
                &quot;backDelay&quot;: 2500
              }"><p class="text-center title">Galeria de imagenes seleccionadas.</p></span>
      </span>
    </h1>
    <p class="lead text-white-70  text-center contenido">Imagenes que han sido seleccionadas para el concurso.</p>
  </div>
  <div class="container"  >
  <div class="card-gallery" >
    <div *ngFor="let imagen of Image2">
    <div class="card" [ngClass]="{'nomostrar': !imagen.publicado}">
      <div class="card-img">
          <img src="https://picsum.photos/200/150"  alt="">
      </div>
     <div class="card-content">
      <div class="author"><img src="https://picsum.photos/50/50" alt="" class="avatar"><span>{{imagen.timestamp  | date}}</span></div>
       <div class="card-title">{{imagen.usuario.nombre}}</div>
       <div class="card-text">{{imagen.title}}</div>
       <div class="container">
        <div class="row">
        <div class="col">
        <div class="col">
        <div>{{imagen.vote}} <i class="material-icons">pan_tool</i></div>
        </div>
       </div>
          <div class="d-grid gap-2">
          <button class="btn btn-primary m-4" type="submit"  (click)="votacion(imagen.usuario.uid)" (click)="vote(imagen._id)" *ngIf="!votaciones">Votar</button>
          <p class="text-danger text-center" type="text"  *ngIf="votaciones">Usted ya ha votado</p>
        </div>
      </div>
     </div>
    </div>
  </div>
  </div>
  </div>
