<!-- Titulo y logo -->
<div>
<div class="pe-lg-3 mb-7">
    <h1 class="display-3 text-white mb-3 mb-md-5">
      <span class="text-danger">
        <span class="js-typedjs text-center" data-hs-typed-options="{
                &quot;strings&quot;: [&quot;team.&quot;, &quot;startup.&quot;, &quot;business.&quot;],
                &quot;typeSpeed&quot;: 90,
                &quot;loop&quot;: true,
                &quot;backSpeed&quot;: 30,
                &quot;backDelay&quot;: 2500
              }"><p class="text-center title">Galeria de imagenes seleccionadas.</p></span>
      </span>
    </h1>
    <p class="lead text-white-70  text-center contenido">Imagenes que han sido seleccionadas para el concurso.</p>
</div>

<!-- Carga de imagenes para votar ciclo for -->
<div class="container d-flex align-items-center justify-content-center position-relative flex-wrap">
    <div class="card d-flex position-relative flex-column" *ngFor="let imagen of Image2"  [ngClass]="{'nomostrar': !imagen.publicado}">
        <div class='imgContainer' >
          <img src="../assets/uploads/post/{{imagen.filename}}"> </div>
        <div class="content">
            <h5 class="autor text-center fw-bold text-capitalize">{{imagen.usuario.nombre}}</h5>
            <p class="title">{{imagen.title}}</p>
        </div>
        <div>{{imagen.vote}} <label class="fw-bold">Votos</label></div>
        <div class="d-grid gap-2">
          <button class="btn btn-primary m-4" type="submit"  (click)="votacion(imagen.usuario.uid)" (click)="vote(imagen._id)" *ngIf="!votaciones">Votar</button>
          <p class="text-danger text-center fw-bold" type="text"  *ngIf="votaciones">Usted ya ha votado</p>
        </div>
    </div>
</div>

